#logo-navbar {
  height: 150px;
}
.bg-verde {
  background: #6f968f;
}
.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.circle-image{
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 9rem;
  height: 9rem;
}

.circle-image img{
  display: flex;
  flex-direction: row;
flex-wrap: wrap;
}
